model:
  cldm:
    target: gmff.model.cldm.ControlLDM
    params:
      latent_scale_factor: 0.18215
      unet_cfg:
        use_checkpoint: True
        image_size: 32 # unused
        in_channels: 4
        out_channels: 4
        model_channels: 320
        attention_resolutions: [ 4, 2, 1 ]
        num_res_blocks: 2
        channel_mult: [ 1, 2, 4, 4 ]
        num_head_channels: 64 # need to fix for flash-attn
        use_spatial_transformer: True
        use_linear_in_transformer: True
        transformer_depth: 1
        context_dim: 1024
        legacy: False
      vae_cfg:
        embed_dim: 4
        ddconfig:
          double_z: true
          z_channels: 4
          resolution: 256
          in_channels: 3
          out_ch: 3
          ch: 128
          ch_mult:
          - 1
          - 2
          - 4
          - 4
          num_res_blocks: 2
          attn_resolutions: []
          dropout: 0.0
      clip_cfg:
        embed_dim: 1024
        vision_cfg:
          image_size: 224
          layers: 32
          width: 1280
          head_width: 80
          patch_size: 14
        text_cfg:
          context_length: 77
          vocab_size: 49408
          width: 1024
          heads: 16
          layers: 24
        layer: "penultimate"
      controlnet_cfg:
        use_checkpoint: True
        image_size: 32 # unused
        in_channels: 4
        hint_channels: 4
        model_channels: 320
        attention_resolutions: [ 4, 2, 1 ]
        num_res_blocks: 2
        channel_mult: [ 1, 2, 4, 4 ]
        num_head_channels: 64 # need to fix for flash-attn
        use_spatial_transformer: True
        use_linear_in_transformer: True
        transformer_depth: 1
        context_dim: 1024
        legacy: False

  diffusion:
    target: gmff.model.gaussian_diffusion.Diffusion
    params:
      linear_start: 0.00085
      linear_end: 0.0120
      timesteps: 1000
      zero_snr: False
      parameterization: eps

dataset:
  train:
    target: gmff.dataset.gmff_dataloader.GMFF_Dataset
    params:
      # training file list path
      file_list: "datasets/gmff_training_datasets.txt"
      file_backend_cfg:
        target: gmff.dataset.file_backend.HardDiskBackend
      out_size: 512
      crop_type: center
      # blur_kernel_size: 41  # 未使用参数
      # kernel_list: ['iso', 'aniso']  # 未使用参数
      # kernel_prob: [0.5, 0.5]  # 未使用参数
      # blur_sigma: [0.1, 12]  # 未使用参数
      # downsample_range: [1, 12]  # 未使用参数
      # noise_range: [0, 15]  # 未使用参数
      # jpeg_range: [30, 100]  # 未使用参数
   
batch_transform:
  target: gmff.dataset.batch_transform.IdentityBatchTransform

train:
  # pretrained sd v2.1 path
  sd_path: "weights/v2-1_512-ema-pruned.ckpt"
  # experiment directory path
  exp_dir: "./experiments/train_gmff_stage2_2"
  # stage 1 swinir path.
  # # In our paper, we use SwinIR trained on ImageNet-1k with codeformer degradation.
  # swinir_path: "/media/user/68fdd01e-c642-4deb-9661-23b76592afb1/xxz/project_image_stack_fusion/GMFF/weights/codeformer_swinir.ckpt"
  # # batch size = 8, lr = 3e-6 (first 30k),3e-7 (next 50k)
  learning_rate: 3e-6
  # ImageNet 1k (1.3M images)
  # batch size = 192, lr = 1e-4, total training steps = 25k
  # DiffBiR filtered laion2b-en (15M images)
  # batch size = 256, lr = 1e-4 (first 30k), 1e-5 (next 50k), total training steps = 80k
  batch_size: 8
  num_workers: 8
  train_steps: 30000
  log_every: 50
  ckpt_every: 10000
  image_every: 1000
  # Pretrained IRControlNet path
  resume: "/media/user/68fdd01e-c642-4deb-9661-23b76592afb1/xxz/project_image_stack_fusion/GMFF/experiments/train_gmff_stage2/checkpoints/0030000.pt"
  noise_aug_timestep: 0
